PORT=5000
MONGO_URI=mongodb+srv://USER:PASSWORD@cluster0.kzofjiw.mongodb.net/cfodashboard?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=cfo-dashboard-change-this-secret
CLIENT_ORIGIN=http://localhost:5173
